.landing {
   display: grid;
   grid-template-columns: repeat(12, minmax(0, 1fr));
   grid-template-rows: repeat(12, minmax(0, 1fr));
   opacity: 1;
   animation-name: fadeInLanding;
   animation-duration: 650ms;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
}
.landing.fadeout-landing {
   animation-name: fadeOutLanding;
   animation-duration: 650ms;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
}
.landing.blur-landing {
   animation-name: fadeOutBlur;
   animation-duration: 650ms;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
}

.landing .fullwidth-wrapper {
   height: 100vh;
   grid-row: 1/ -1;
   grid-column: 1/-1;
   display: grid;
   grid-template-columns: repeat(12, minmax(0, 1fr));
   grid-template-rows: repeat(12, minmax(0, 1fr));
   justify-content: center;
   align-items: end;
}

.landing .fullwidth-wrapper .landing-headings {
   grid-column: 3 / span 5;
   grid-row: 4 / span 6;
   align-items: start;
   height: 100%;
}
.landing .fullwidth-wrapper .heroimg {
   grid-column: 8 / 11;
   grid-row: 8 / 12;
   width: 100%;
   object-fit: cover;
}

.landing .fullwidth-wrapper .call-to-action {
   grid-column: 3 / span 8;
   grid-row: 8 / span 2;
   justify-self: center;
}

.landing h1 {
   /* font-weight: 600;
   font-size: 3.1em; */

   font-weight: 800;
   font-size: 5em;
   letter-spacing: 2px;

   color: black;
}

.landing h1::selection,
.landing h3::selection {
   color: white;
   background: #383838;
}

.landing h3 {
   /* color: #f7f8fa; */
   color: rgba(0, 0, 0, 0.616);
   line-height: 1.5;
   width: 95%;
   /* margin: 30px 70px 0 70px; */
   /* font-size: 1.4em; */
   /* margin: 0 0 0.5em 0; */
   font-size: 1.5em;

   font-weight: 300;
   /* text-shadow: 2px 1px 4px #2a373a; */
}

.landing .btn {
   margin: 3em 0 0 0;
   display: inline-block;
   color: rgba(0, 0, 0, 0.95);
   text-decoration: none;
   font-weight: 600;
   font-size: 1.3em;
   text-transform: uppercase;
   transition: all 200ms ease-in-out;
   padding: 0.3em 0.7em 0.3em 0.7em;
}
.landing .btn.btn-about-me {
   margin-left: 2em;
}

.landing .btn:hover {
   color: #c0a426;
}
.landing p {
   margin-left: -55px;
}
.landing p::selection {
   color: #383838;
   background: white;
}
.landing .landing-down-arrow svg {
   display: block;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 1%;
   text-align: center;
   width: 40px;
   /* animation: pulse 1.5s infinite; */
   left: 0;
   right: 0;
   margin: auto;
   opacity: 1;
   transition: 100ms ease-in-out;
}

.landing .landing-down-arrow .arrowhide {
   opacity: 0;
   /* display: none; */
   transition: 100ms ease-in-out;
}

@keyframes pulse {
   0% {
      transform: scale(0.8);
      opacity: 0.8;
   }
   70% {
      transform: scale(1);
      opacity: 1;
   }
   100% {
      transform: scale(0.8);
      opacity: 0.8;
   }
}

@keyframes fadeInLanding {
   0% {
      opacity: 0;
      transform: scale(0.95);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes fadeOutLanding {
   0% {
      opacity: 1;
      transform: scale(1);
   }
   100% {
      opacity: 0;
      transform: scale(0.95);
   }
}

@keyframes fadeOutBlur {
   0% {
      opacity: 1;
      transform: scale(1);
   }
   100% {
      opacity: 1;
      transform: scale(0.95);
   }
}

@keyframes fadeOutBlur {
   0% {
      opacity: 1;
      transform: scale(1);
   }
   100% {
      opacity: 1;
      transform: scale(0.95);
   }
}

@media only screen and (max-width: 1200px) {
   .landing h1 {
      font-size: 4.8em;
   }
   .landing .fullwidth-wrapper .landing-headings {
      grid-column: 2 / span 5;
      grid-row: 4 / span 6;
      align-items: start;
      height: 100%;
   }
   .landing .fullwidth-wrapper .heroimg {
      grid-column: 8 / 12;
      grid-row: 2 / 11;
   }
}

@media only screen and (max-width: 910px) {
   .landing h1 {
      font-size: 4.5em;
      margin: 0.3em 0;
   }
   .landing h3 {
      font-size: 1.4em;
   }
   .landing .fullwidth-wrapper .landing-headings {
      grid-column: 2 / span 5;
      grid-row: 4 / span 6;
      align-items: start;
      height: 100%;
   }
   .landing .fullwidth-wrapper .heroimg {
      grid-column: 7 / 12;
      grid-row: 2 / 11;
   }
}

@media only screen and (max-width: 768px) {
   .landing h1 {
      font-size: 3.5em;
      margin: 0.3em 0;
   }
   .landing h3 {
      font-size: 1.3em;
   }
   .landing .fullwidth-wrapper .landing-headings {
      grid-column: 2 / span 5;
      grid-row: 4 / span 6;
      align-items: start;
      height: 100%;
   }
   .landing .fullwidth-wrapper .heroimg {
      grid-column: 7 / 13;
      grid-row: 2 / 10;
      width: 95%;
   }
   .landing .btn {
      margin: 2em 0 0 0;
   }
   .landing .btn.btn-about-me {
      margin-top: 1em;
      margin-left: 0em;
   }
}
