.grid {
   display: grid;
   height: 100vh;
   grid-template-rows: repeat(12, minmax(0, 1fr));
   grid-template-columns: repeat(12, minmax(0, 1fr));
   opacity: 1;
   position: relative;
   justify-items: center;
   align-items: end;
}
.grid::selection {
   color: #383838;
   background: white;
}
.grid .portfolio-heading {
   grid-column: 3 / span 8;
   grid-row: 2 / span 2;
   margin-bottom: 5%;
   font-size: 2.1em;

   font-weight: 300;
   transition: all 350ms ease-in-out;
}
.grid .portfolio-heading.img-slideup {
   display: none;
}
.grid .img-card-text {
   position: absolute;
   top: 30px;
   left: 40%;
   z-index: 6;
   text-align: center;
   animation-name: imgSlideUponload;
   animation-duration: 500ms;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
}
.grid .img-card-text.img-slideup {
   animation-name: imgSlideUp;
   animation-duration: 500ms;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
}
.grid .img-card-text h1 {
   color: white;
   letter-spacing: 2px;
   font-size: 3em;
   opacity: 1;
   margin: 0;
   text-align: start;
   font-weight: 800;
}

.grid h2 {
   text-decoration: none;
   color: rgb(219, 219, 219);
   font-size: 1.5em;
   opacity: 1;
   margin: 0 0 0 0;
   text-align: start;
}
.grid .img-card-text a::selection {
   color: #383838;
   background: white;
}
.grid .img-card-text h3.desctiption-link {
   display: block;
   margin-top: 1.2em;
   margin-bottom: 2em;
   line-height: 1.4;
   font-size: 1.3em;
   text-align: start;
   color: rgb(255, 255, 255);
   width: 650px;
}
.grid .img-card {
   justify-content: center;
   /* grid-column: 3 / span 8;
   grid-row: 4 / span 7; */
   grid-column: 3 / span 8;
   grid-row: 3 / span 8;
   width: 100%;
   height: 100%;
   overflow: hidden;
   z-index: 5;
   opacity: 1;
   animation-name: imgSlideUponload;
   animation-duration: 500ms;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
   /* box-shadow: 0px 33px 40px -15px #272727; */
}

.grid .viewbuttons {
   position: absolute;
   /* bottom: 2.5em; */
   left: 38%;
   /* width: 100%; */
   bottom: 0;
   /* left: 0; */
   z-index: 7;
   /* height: 60px; */
   width: 500px;
   /* background-color: rgba(0, 0, 0, 0.507); */
   padding: 3em 0;
}
.grid .viewdemo {
   text-decoration: none;
   color: white;
   z-index: 7;
   font-weight: 600;
   padding: 0.3em 0.7em 0.3em 0.7em;
   margin: 0 0 0 2em;
   font-size: 1.2em;
   text-transform: uppercase;
   transition: all 250ms ease-in-out;
}
.grid a {
   text-decoration: none;
   color: rgba(22, 22, 22, 0.95);
}
.grid a:hover {
   color: #c0a426;
}

.grid .viewcode {
   margin-left: 1.5em;

   text-decoration: none;
   color: white;
   z-index: 7;
   font-weight: 600;
   padding: 0.3em 0.7em 0.3em 0.7em;
   font-size: 1.2em;
   text-transform: uppercase;
   transition: all 250ms ease-in-out;
}

.grid .viewcode:hover {
   color: #c0a426;
   /* border: 1px solid #c0a426; */
}

.grid .img-card.img-slideup {
   animation-name: imgSlideUp;
   animation-duration: 500ms;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
}
.grid .img-card img {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;

   width: 35%;
   height: 100%;
   object-fit: cover;
   transition: all 200ms ease-in-out;
   /* transform: rotateY(90deg); */
}

.grid p {
   width: 550px;
   text-align: start;
   color: rgba(255, 255, 255, 0.4);
   border-right: solid 1px rgba(0, 0, 0, 0.4);
}

.grid h4 {
   z-index: 2;
   position: absolute;
   margin: 0;
   right: 0;
   top: 25%;
   text-decoration: none;
   color: rgb(219, 219, 219);
   font-size: 1.5em;
   opacity: 1;
   width: 200px;
   text-align: center;
}

.grid .skills {
   z-index: 2;
   position: absolute;
   list-style-type: none;
   padding: 0;
   text-align: center;
   right: 0;
   text-decoration: none;
   color: rgb(219, 219, 219);
   font-size: 1em;
   opacity: 1;
}
.grid .skills {
   display: flex;
   z-index: 2;
   position: absolute;
   list-style-type: none;
   padding: 0;
   text-align: center;

   width: 20px;

   text-decoration: none;
   color: rgb(219, 219, 219);
   opacity: 1;
   transform: rotate(-90deg);
   bottom: -0.8em;
   right: 0;
}
.grid .skills li {
   display: inline-block;
   font-size: 1.15em;
   font-weight: 700;
   margin: 0.8em;
}

.grid .projectBulllets {
   margin: 0;
   padding-right: 10px;
   list-style: square;
   padding-left: 15px;
   width: 650px;
   text-align: start;
   font-size: 1.1em;
   color: rgb(192, 192, 192);
   letter-spacing: 0.3px;
   /* border-right: solid 1px rgba(255, 255, 255, 0.4); */
}
.grid .projectBulllets li {
   margin: 1em 0 1em 0;
}

.content {
   /* background-color: #272727; */
   background-color: #000000;
   width: 100%;
   height: 100%;
}

@keyframes imgSlideUp {
   0% {
      transform: translateY(0);
      opacity: 1;
   }
   100% {
      transform: translateY(-50%);
      opacity: 0;
   }
}
@keyframes imgSlideUponload {
   0% {
      transform: translateY(30%);
      opacity: 0;
   }
   50% {
      opacity: 0.2;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

@media only screen and (max-width: 1500px) {
   .grid .img-card {
      grid-column: 2 / span 10;
      grid-row: 3 / span 9;
      width: 95%;
   }
}
@media only screen and (max-width: 1200px) {
   .grid .img-card {
      grid-column: 2 / span 10;
      grid-row: 3 / span 9;
      width: 100%;
   }
   .grid .img-card-text h3.desctiption-link {
      margin-top: 1.2em;
      margin-bottom: 2em;

      font-size: 1.1em;

      width: 500px;
   }
   .grid .projectBulllets {
      padding-left: 15px;
      width: 500px;
      font-size: 1.1em;
   }
   .grid .viewbuttons {
      left: 37%;
      width: 500px;
      padding: 3em 0;
   }
}

@media only screen and (max-width: 1060px) {
   .grid .img-card-text h3.desctiption-link {
      margin-top: 1.2em;
      margin-bottom: 2em;
      font-size: 1.1em;
      width: 400px;
   }
   .grid .projectBulllets {
      padding-left: 15px;
      width: 400px;
      font-size: 1em;
   }
   .grid .viewbuttons {
      width: 400px;
      padding: 3em 0;
   }
}

@media only screen and (max-width: 830px) {
   .grid .img-card-text h1 {
      width: 350px;
      font-size: 2.5em;
   }
   .grid .img-card-text h3.desctiption-link {
      margin-top: 1.2em;
      margin-bottom: 2em;
      font-size: 1em;
      width: 350px;
   }
   .grid .projectBulllets {
      padding-left: 15px;
      width: 350px;
      font-size: 1em;
   }
   .grid .viewbuttons {
      position: absolute;
      width: 350px;
      padding: 3em 0;
      left: 35%;
   }

   .grid .viewcode {
      margin-left: 1.1em;
      font-size: 1.1em;
   }

   .grid .viewdemo {
      font-size: 1.1em;
   }
}

@media only screen and (max-width: 470px) {
   .grid .img-card img {
      display: none;
   }
   .grid .img-card-text {
      top: 30px;
      left: 30px;
   }
   .grid .img-card-text h1 {
      width: 350px;
      margin-bottom: 1em;
      font-size: 2.5em;
   }
   .grid .img-card-text h3.desctiption-link {
      margin-top: 1.2em;
      margin-bottom: 2em;
      font-size: 0.9em;
      width: 350px;
   }
   .grid .projectBulllets {
      padding-left: 15px;
      width: 310px;
      font-size: 0.9em;
   }
   .grid .viewbuttons {
      position: absolute;
      width: 350px;
      padding: 3em 0;
      left: 30px;
   }

   .grid .viewcode {
      margin-left: 1.1em;
      font-size: 1.1em;
   }

   .grid .viewdemo {
      margin-left: 0;
      font-size: 1.1em;
   }
   .grid .skills li {
      display: inline-block;
      font-size: 0.9em;
      font-weight: 700;
      margin: 0.8em;
   }
}
